/* Fonts */

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Common elements */

a {
    text-decoration-line: none;
    color: #FFFFFF;
}

a:hover {
    color: #E3B873;
    cursor: pointer;
}

b {
    color: #E3B873;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.button-full {
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
}

.header-container .button-full:hover {
    padding-top: 12px;
    background-color: #181818;
    border: 1px solid #FFFFFF;
}

.intro-screen .button-full:hover {
    padding-top: 19px;
    background: transparent;
    border: 1px solid #FFFFFF;
}

.control .button-full:hover {
    padding-top: 19px;
    background: #181818;
    color: #E3B873;
    border: 1px solid #E3B873;
}

.repair .button-full:hover {
    padding-top: 16px;
    background: #181818;
    color: #E3B873;
    border: 1px solid #E3B873;
}

.button-empty {
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    outline: 0;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.button-full, .button-empty, .button-play, .button-projects:hover {
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One', 'Trebuchet MS', Times, serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    font-family: 'Yeseva One', 'Trebuchet MS', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.card-title {
    font-family: 'Yeseva One', 'Trebuchet MS', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.text-p {
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.text-descr {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    padding-top: 34.46px;
    margin: 0 auto;
}

.text-descr-side {
    font-size: 18px;
    line-height: 26px;
}

.text-list {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding: 0;
    margin: 13px 0 0;
    list-style: inside;
}

.text-list li:before {
    content: "";
    margin-left: -9px;
}

.text-list-side {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.text-menu-side {
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.text-card {
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    color: #959595;
}

.text-input-label {
    font-size: 13px;
    line-height: 21px;
}

.text-input {
    font-size: 14px;
    line-height: 23px;
}

.color-theme-light {
    color: #363636;
}

.color-theme-light-grey {
    color: rgba(54, 54, 54, 0.5);
}

.color-theme-dark {
    color: #FFFFFF;
}

.color-theme-dark-grey {
    color: rgba(255, 255, 255, 0.5);
}

.section-black {
    background-color: #131313;
}

.section-white {
    background-color: white;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1256px;
    min-width: 1100px;
    margin: 0 auto;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.logo {
    display: flex;
    text-transform: uppercase;
    color: #E3B873;
}

.header-nav {
    display: flex;
    color: #FFFFFF;
    list-style: none;
}

.header-nav-item {
    margin-right: 47px;
}

.phone {
    display: flex;
    text-align: right;
    color: #E3B873;
}

.phone a {
    text-decoration-line: underline;
    color: #E3B873;
}

.button-header {
    padding: 13px 33px;
    height: 37px;
    width: 161px;
}

.body-container {
    max-width: 1171px;
    margin: 0 auto;
    position: relative;
}

.body-container-wide {
    max-width: 1236px;
    margin: 0 auto;
    position: relative;
}

/* Intro screen section */

.intro-screen {
    background-image: url("../images/intro-background.png");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.intro-screen::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.intro-title {
    font-size: 40px;
    line-height: 53px;
    max-width: 514px;
    color: #FFFFFF;
}

.intro-text {
    font-size: 22px;
    line-height: 36px;
    max-width: 514px;
    color: #FFFFFF;
}

.button-intro-cost {
    padding: 20px 42px;
    height: 51px;
    width: 207px;
}

.button-intro-application {
    padding: 20px 22px;
    height: 51px;
    width: 207px;
    margin: 0 0 0 20px;
}

/* Completed projects section */

.projects {
    padding-top: 176px;
    height: 1074px;
}

.projects-container {
    display: inline-flex;
}

.projects-column-left {
    width: 442px;
    height: 482px;
    position: relative;
}

.projects-grid {
    display: flex;
    flex-flow: row wrap;
}

.projects-details {
    margin: 0 0 34px 0;
    width: 190px;
}

.projects-mobile-slider {
    display: none;
    background-image: url("../images/projects-mobile.png");
}

.projects-column-right {
    margin-left: 50px;
    position: relative;
}

.projects-title {
    font-size: 27px;
    line-height: 37.42px;
    letter-spacing: -0.07em;
    color: #E3B873;
    margin: 0;
}

.projects-text {
    font-size: 14px;
    line-height: 26.73px;
    color: #FFFFFF;
    margin: 34px 0 42px 0;
}

.projects-subtitle {
    font-size: 18px;
    line-height: 24.95px;
    color: #E3B873;
    margin: 0 0 9px 0;
}

.projects-subtext {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
}

.projects-slider {
    position:absolute;
    bottom: 0;
}

.projects-arrow-left::before {
    display: inline-block;
    content: "";
    border: solid white;
    border-width: 0 1.34px 1.34px 0;
    padding: 3.795px;
    transform: rotate(135deg);
}

.projects-arrow-left::after {
    display: inline-block;
    content: "";
    background: white;
    height: 1.34px;
    width: 40.51px;
    position: absolute;
    left: 0;
    bottom: 7.64px;
}

.projects-arrow-right::before {
    display: inline-block;
    content: "";
    background: white;
    height: 1.34px;
    width: 40.51px;
    position: absolute;
    left: -31.92px;
    bottom: 7.64px;
}

.projects-arrow-right::after {
    display: inline-block;
    content: "";
    border: solid white;
    border-width: 0 1.34px 1.34px 0;
    padding: 3.795px;
    transform: rotate(-45deg);
}

.projects-arrow-nav a:nth-child(1) {
    bottom: 0;
    left: 0;
}

.projects-arrow-nav a:nth-child(2) {
    bottom: 0;
    left: 70.96px;
}

.projects-arrow-nav a:nth-child(3) {
    bottom: 0;
    left: 98.06px;
}

.projects-arrow-nav a:nth-child(4) {
    bottom: 0;
    left: 125.17px;
}

.projects-arrow-nav a:nth-child(5) {
    bottom: 0;
    left: 198.1px;
}

.projects-bullet {
    display: inline-flex;
    height: 9.57px;
    width: 9.57px;
    border-radius: 30px;
}

.bullet-active {
    background: #FFFFFF;
}

.bullet-inactive {
    background: rgba(255, 255, 255, 0.3);
}

.projects-navtitle {
    position: absolute;
    margin-top: -69px;
    padding: 0;
    display: flex;
    list-style: none;
}

.projects-nav-item {
    font-size: 14px;
    line-height: 19.4px;
    padding: 0 59px 0 0;
}

.nav-item-active {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 6.68px;
}

.nav-item-inactive {
    color:  #4d4d4d;
}

.projects-img-box {
    height: 482px;
    width: 679px;
}

.projects-admiral-img {
    background-image: url("../images/projects-admiral.png");
}

.projects-patriotic-img {
    background-image: url("../images/projects-patriotic.png");
}

/* Online control section */

.control {
    background: none;
}

.control-title {
    color: #FFFFFF;
    margin: -324px 0 0 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.img-container {
    display: flex;
    width:114px;
    justify-content: center;
    position: relative;
}

.img-container::after {
    position:absolute;
    content:"";
    top: 50%;
    right: 0;
    width: 32px;
    height: 1.54px;
    background: #E3B873;
}

.img-container::before {
    position:absolute;
    content:"";
    top: 50%;
    left: 0;
    width: 32px;
    height: 1.54px;
    background: #E3B873;
}

.control-icon {
    width: 32.77px;
    height: 28px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 31.21px auto 0;
}

.control-video {
    background-image: url("../images/work-progress.png");
    position: relative;
    background-size: cover;
    height: 434px;
    width: 817px;
}

.control-video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.button-play {
    display: flex;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #e3b873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    position: absolute;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
}

.control-text {
    position: relative;
    margin: 62.5px auto 91.5px;
    max-width: 681px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-text::before {
    position:absolute;
    content:"";
    top: 0;
    width: 55px;
    height: 1.54px;
    background: #E3B873;
}

.control-form-container {
    width: 769px;
    margin: 0 auto 75.85px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Input form and checkbox */

.input-form-container-limited {
    display: flex;
    flex-flow: column;
    width: 231px;
    margin: 0 53px 37px 0;
}

.input-form-container-stretched {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.input-form-text {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;
    padding: 0;
}

.input-form-agree {
    display: flex;
}

.input-checkbox-label {
    cursor: pointer;
}
  
.input-checkbox {
    display: none;
}
  
.input-checkbox-fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    margin-right: 5px;
}
  
.input-checkbox-fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
  
.input-checkbox:checked + .input-checkbox-fake::before{
    opacity: 1;
}

.button-submit {
    padding: 20px 75px;
    height: 51px;
    width: 200px;
}

/* Types of repair section */

.repair-title {
    color: #181818;
    margin: 0 auto;
}

.repair-icon {
    width: 28px;
    height: 28px;
}

.repair-cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.repair-cards {
    height: 608px;
    display: flex;
    flex-flow: column;
    margin-right: 30px;
}

.repair-list {
    width: 330px;
    height: 286px;
    margin: -127px auto 0px;
    padding-top: 25px;
    padding-left: 34px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.button-prices {
    padding-top: 17px;
    padding-bottom: 17px;
    height: 54px;
    width: 228px;
    text-transform: uppercase;
    margin-top: -27px;
    margin-left: 31px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.repair-redecorating-img {
    background-image: url("../images/repair-redecorating.png");
    height: 421px;
    width: 392px;
}

.repair-overhaul-img {
    background-image: url("../images/repair-overhaul.png");
    height: 421px;
    width: 392px;
}

.repair-designer-img {
    background-image: url("../images/repair-designer.png");
    height: 421px;
    width: 392px;
}

/* Mobile version media query */

@media screen and (max-width: 1300px) {
    .navigation-links,
    .button-header,
    .projects-column-right,
    .projects-arrow-nav,
    .footer-nav {
        display: none;
    }

    .header-container {
        height: 57px;
        margin: 0 18px;
        min-width: auto;
        justify-content: space-around;
    }

    .body-container {
        max-width: 376px;
        padding: 0 18px;
    }

    .intro-screen {
        display: flex;
        height: 476px;
        padding-top: 87px;
    }

    .intro-title {
        font-size: 23px;
        line-height: 31px;
    }

    .intro-text {
        font-size: 14px;
        line-height: 19px;
    }

    .button-intro-cost,
    .button-intro-application {
        width: 100%;
        margin: 13px 0;
    }

    .subtitle {
        font-size: 22px;
        line-height: 31px;
    }

    .text-descr, 
    .project-text,
    .projects-subtext {
        font-size: 11px;
        line-height: 18px;
    }

    .projects {
        padding-top: 36px;
    }

    .projects-container {
        display: flex;
    }

    .projects-mobile-slider {
        display: grid;
        align-items: center;
        max-width: 340px;
        height: 242px;
        margin: 36px 0;
        position: relative;
    }

    .button-projects {
        display: flex;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #e3b873;
        position: absolute;
        justify-content: center;
        align-items: center;
        outline: 0;
        border: 0;
    }

    .button-projects img {
        height: 11px;
        width: 6px;
    }

    .button-projects-left {
        justify-self: left;
        margin-left: 14px;
    }

    .button-projects-right {
        justify-self: right;
        margin-right: 14px;
    }

    .projects-title {
        font-size: 22px;
        line-height: 31px;
        text-align: center;
    }

    .projects-subtitle {
        font-size: 14px;
        line-height: 19px;
    }

    .projects-text {
        text-align: center;
    }

    .projects-details {
        width: 140px;
    }

    .control {
        background:#131313;
    }

    .control-text {
        margin: 51px auto 61px;
    }

    .text-descr {
        padding-top: 22px;
        color: white;
    }

    .control-video {
        height: 207px;
        width: 340px;
    }

    .button-play {
        width: 37px;
        height: 37px;
    }

    .button-play img {
        width: 12px;
        height: 12px;
    }

    .color-theme-light-grey {
        color: rgba(255, 255, 255, 0.5);
    }

    .input-form-container-limited {
        width: 100%;
        margin: 0 53px 60px 0;
    }

    .input-form-text {
        background: transparent;
        border-bottom: 1px solid white;
    }

    .input-form-text::placeholder{
        color: white;
        font-size: 14px;
    }

    .control-form-container {
        flex-flow: column;
        width: 100%;
    }

    .input-checkbox-label {
        margin: -32px 0 53px 0;
    }

    .text-input {
        color: white;
        margin: 0 0 20px 0;
    }

    .button-submit {
        width: 100%;
        font-style: normal;
        font-size: 13px;
        order: +1;
    }

    .repair {
        margin: -101px 0 0 0;
    }

    .body-container-wide {
        max-width: 376px;
        padding: 76px 18px;
    }

    .repair-img-box {
        display: flex;
    }

    .repair-cards-container {
        margin-top: 41px;
        max-width: 340px;
        flex-flow: column;
    }

    .repair-cards {
        height: 542px;
        margin: 0;
    }

    .card-title {
        font-size: 15px;
        line-height: 20px;
    }

    .repair-list {
        width: 270px;
        height: 241px;
    }
    
    .repair-redecorating-img,
    .repair-overhaul-img,
    .repair-designer-img {
        width: 340px;
        height: 365px;
        background-size: cover;
        margin: 0 auto;
    }

    .repair-list {
        margin: -142px -1px 7px;
        padding: 21px 31px;
    }

    .text-list {
        margin: 10px 0 0;
        line-height: 22px;
    }

    .button-prices {
        margin-left: 0;
        height: 40px;
        width: 191px;
        padding: 11px 15px;
    }
}



